body {
    margin: 0;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    /* text-align: center; */
  }
  
  .byline {
    font-weight: 200;
    font-style: italic;
  }
  
  /* .spacer {
    border-bottom: 2px solid black;
    margin-left: 20px;
  } */
 
  /* col-8 {
    border: 2px solid black;
  }  */

 li {
    list-style-type:none;
  } 