body {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-family: 'Lobster', 'Pacifico';
    font-family: 'Poppins', 'Questrial', 'Quicksand';
    font-size: 16px;
  }
  
  h1 {
    font-family: 'Poppins', 'Questrial', 'Quicksand';
    font-size: 50px;
    color: white;
  }

  h3 {
    font-family: 'Lobster', 'Pacifico';
  }

  .city-input {
    padding: 0;
  }
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700; */
    /* text-align: center; */
  /* } */
  
  /* .byline {
    font-weight: 200;
    font-style: italic;
  } */
  
  #spacer {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
  }

.current-weather {
  border-radius: 5px;
}

  .weather-div {
    border-radius: 5px;
  }
 
  /* col-8 {
    border: 2px solid black;
  }  */

 li {
    list-style-type:none;
  } 

/* div.py-3 {
  padding: 5px 0px 5px 0px;
} */

  button {
    border-radius: 5px;
    background-color: slategray;
    color: white;
    width: 100%;
    padding: 6px;
    margin: 3px;
  }